.section__item{
    max-width: 350px;
    width: 100%;
    list-style-type: none;
}

.section__list{
    display: flex;
    align-items: center;
}

.section__item + .section__item{
    margin-left: 30px;
}

.section__desc{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
}

.section__heading{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}